!!! ~/.Xresources

Xcursor.theme :  @@CURSOR_THEME@@
Xcursor.size  :  @@CURSOR_SIZE@@

!! xft
!!  some applications like URxvt will ignore fontconfig settings, so work around with X resources.
!!  see https://wiki.archlinux.org/index.php/Font_configuration
!!  96 dpi scaled by 125%(120), 150%(144), 175%(168), 200%(192)
Xft.antialias :  true
Xft.autohint  :  false
Xft.dpi       :  @@SCREEN_DPI@@
Xft.hinting   :  true
Xft.hintstyle :  hintslight
Xft.lcdfilter :  lcddefault
Xft.rgba      :  rgb

!! xterm
XTerm*loginShell         :  true
XTerm*termName           :  xterm-256color
XTerm*saveLines          :  1024
XTerm*selectToClipboard  :  true
! Here we actually unbind Alt+Return: https://unix.stackexchange.com/questions/177727/how-do-i-remove-a-particular-default-xterm-x11-translation
XTerm*vt100.translations :  #override \n\
    Alt <Key>Return       : insert-eight-bit() \n\
    Ctrl Shift <Key> C    : copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key> V    : insert-selection(CLIPBOARD) \n\
    ~Shift <Btn1Up>       : select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Shift <Btn1Up>        : exec-selectable("xdg-open '%t'", word) \n\
    Shift <KeyPress> Up   : scroll-back(1, page) \n\
    Shift <KeyPress> Down : scroll-forw(1, page) \n\
    Ctrl <Key> minus      : smaller-vt-font() \n\
    Ctrl <Key> plus       : larger-vt-font() \n\
    Ctrl <Key> 0          : set-vt-font(d)
XTerm*cjkWidth           :  false
XTerm*faceName           :  Hack,DejaVu Sans Mono,monospace
XTerm*faceNameDoublesize :  Noto Sans Mono CJK SC-@@WIDE_FONT_SIZE@@,monospace-@@WIDE_FONT_SIZE@@
XTerm*faceSize           :  @@FONT_SIZE@@
XTerm*faceSize1          :  8
XTerm*faceSize2          :  10
XTerm*faceSize3          :  12
XTerm*faceSize4          :  14
XTerm*faceSize5          :  16
XTerm*faceSize6          :  22
XTerm*renderFont         :  true
XTerm*charClass          :  33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*scrollBar          :  false
XTerm*scrollKey          :  true
XTerm*rightScrollBar     :  true
XTerm*scrollTtyOutput    :  false
XTerm*highlightSelection :  true
XTerm*trimSelection      :  true
XTerm*eightBitInput      :  false

!! uxterm
UXTerm*loginShell         :  true
UXTerm*termName           :  xterm-256color
UXTerm*saveLines          :  1024
UXTerm*selectToClipboard  :  true
! Here we actually unbind Alt+Return: https://unix.stackexchange.com/questions/177727/how-do-i-remove-a-particular-default-xterm-x11-translation
UXTerm*vt100.translations :  #override \n\
    Alt <Key>Return       : insert-eight-bit() \n\
    Ctrl Shift <Key> C    : copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key> V    : insert-selection(CLIPBOARD) \n\
    ~Shift <Btn1Up>       : select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Shift <Btn1Up>        : exec-selectable("xdg-open '%t'", word) \n\
    Shift <KeyPress> Up   : scroll-back(1, page) \n\
    Shift <KeyPress> Down : scroll-forw(1, page) \n\
    Ctrl <Key> minus      : smaller-vt-font() \n\
    Ctrl <Key> plus       : larger-vt-font() \n\
    Ctrl <Key> 0          : set-vt-font(d)
UXTerm*cjkWidth           :  false
UXTerm*faceName           :  Hack,DejaVu Sans Mono,monospace
UXTerm*faceNameDoublesize :  Noto Sans Mono CJK SC-@@WIDE_FONT_SIZE@@,monospace-@@WIDE_FONT_SIZE@@
UXTerm*faceSize           :  @@FONT_SIZE@@
UXTerm*faceSize1          :  8
UXTerm*faceSize2          :  10
UXTerm*faceSize3          :  12
UXTerm*faceSize4          :  14
UXTerm*faceSize5          :  16
UXTerm*faceSize6          :  22
UXTerm*renderFont         :  true
UXTerm*charClass          :  33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*scrollBar          :  false
UXTerm*scrollKey          :  true
UXTerm*rightScrollBar     :  true
UXTerm*scrollTtyOutput    :  false
UXTerm*highlightSelection :  true
UXTerm*trimSelection      :  true
UXTerm*eightBitInput      :  false

!! urxvt
! URxvt renders Noto Sans Mono CJK SC very ugly, so we choose UMing.
!URxvt.font              :  xft:Hack-@@FONT_SIZE@@,xft:DejaVu Sans Mono-@@FONT_SIZE@@,xft:Noto Sans Mono CJK SC-@@WIDE_FONT_SIZE@@,xft:monospace-@@WIDE_FONT_SIZE@@
URxvt.font               :  xft:Hack-@@FONT_SIZE@@,xft:DejaVu Sans Mono-@@FONT_SIZE@@,xft:AR PL UMing CN-@@WIDE_FONT_SIZE@@,xft:monospace-@@WIDE_FONT_SIZE@@
URxvt.letterSpace        :  -1
URxvt.skipBuiltinGlyphs  :  true
URxvt.saveLines          :  1024
URxvt.loginShell         :  true
URxvt.scrollBar          :  false
URxvt.scrollBar_right    :  true
URxvt.scrollBar_floating :  false
URxvt.scrollstyle        :  rxvt
URxvt.secondaryScroll    :  false
URxvt.scrollTtyOutput    :  false
URxvt.scrollTtyKeypress  :  true
URxvt.scrollWithBuffer   :  true
URxvt.perl-ext-common    :  default,matcher,selection-to-clipboard,confirm-paste,font-size,keyboard-select
URxvt.keysym.C-equal     :  font-size:show
URxvt.keysym.M-Escape    :  keyboard-select:activate
URxvt.keysym.M-s         :  keyboard-select:search
URxvt.keysym.C-S-C       :  eval:selection_to_clipboard
URxvt.keysym.C-S-V       :  eval:paste_clipboard
URxvt.matcher.button     :  C1
URxvt.matcher.launcher   :  xdg-open
URxvt.print-pipe         :  cat >/dev/null
URxvt.termName           :  rxvt-unicode-256color
URxvt.thickness          :  20
URxvt.iso14755:          :  false
URxvt.iso14755_52:       :  false

