#!/bin/sh

datefmt=" @@BLOCKLET_CALENDAR_DATE_FMT@@  @@BLOCKLET_CALENDAR_TIME_FMT@@"

[ "$BLOCK_BUTTON" ] &&
	i3-msg -q "exec yad --calendar \
	    --undecorated --fixed --mouse --on-top --skip-taskbar \
	    --close-on-unfocus --no-buttons >/dev/null"

date "+$datefmt"
