# see:
#   https://github.com/derat/xsettingsd/wiki/Settings
#   https://freedesktop.org/wiki/Specifications/XSettingsRegistry/
#   https://specifications.freedesktop.org/xsettings-spec/latest/index.html

Gtk/CursorThemeName     "@@CURSOR_THEME@@"
Gtk/CursorThemeSize     @@CURSOR_SIZE@@
Gtk/FontName            "Sans @@FONT_SIZE@@"
Net/IconThemeName       "@@ICON_THEME@@"
Net/SoundThemeName      "@@SOUND_THEME@@"
Net/ThemeName           "@@THEME@@"
Xft/Antialias           1
Xft/DPI                 @@SCREEN_DPI_1024@@
Xft/HintStyle           "hintslight"
Xft/Hinting             1
Xft/RGBA                "rgb"
