# https://developer.gnome.org/gtk3/stable/GtkSettings.html

[Settings]
gtk-cursor-theme-name   = @@CURSOR_THEME@@
gtk-cursor-theme-size   = @@CURSOR_SIZE@@
gtk-fallback-icon-theme = hicolor
gtk-font-name           = Sans @@FONT_SIZE@@
gtk-icon-theme-name     = @@ICON_THEME@@
gtk-sound-theme-name    = @@SOUND_THEME@@
gtk-theme-name          = @@THEME@@
gtk-xft-antialias       = 1
gtk-xft-dpi             = @@SCREEN_DPI_1024@@
gtk-xft-hinting         = 1
gtk-xft-hintstyle       = hintslight
gtk-xft-rgba            = rgb
